<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.worldofaits">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Eee4"/>
        <activity android:name=".Eee3" />
        <activity android:name=".Eee2" />
        <activity android:name=".Eee1" />
        <activity android:name=".Cse2" />
        <activity android:name=".CivilMaterialView" />
        <activity android:name=".MechMaterialView" />
        <activity android:name=".EeeMaterialView" />
        <activity android:name=".EceMaterialView" />
        <activity android:name=".MaterialFilesUpload" />
        <activity android:name=".Cse1" />
        <activity android:name=".Cse3" />
        <activity android:name=".Cse4" />
        <activity android:name=".Ece3" />
        <activity android:name=".Ece2" />
        <activity android:name=".Ece1" />
        <activity android:name=".Ece4" />
        <activity android:name=".Uploadfile" />
        <activity android:name=".ImageCampus" />
        <activity android:name=".ImageNews" />
        <activity android:name=".UploadImage" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".MaterialView" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Campus"
            android:label="Campus Selection Updates" />
        <activity
            android:name=".Hostel"
            android:label="Hostel News" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>